<%= layout("/layouts/boilerplate") %>
<body>
    <div class="listing-form-container">
        <h3>Create a New Listing</h3>
        <form method="POST" action="/listings">
            <input name="listing[title]" placeholder="Add a catchy title" type="text" />
            <textarea
              name="listing[description]"
              placeholder="Description"
            ></textarea>
            <input
              name="listing[image]"
              placeholder="Image Link"
              type="text"
            />
            <div class="form-group">
                <input name="listing[price]" placeholder="Price" type="number" />
                <input name="listing[country]" placeholder="Country" type="text" value="India" />
            </div>
            <input
              name="listing[location]"
              placeholder="Location"
              type="text"
            />
            <button>Add</button>
          </form>
    </div>
</body>